// Definitions
@import 'definitions/settings';
@import 'definitions/mixins';

// bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// kenwheeler/slick
@import '~slick-carousel/slick/slick.scss';

// jonsuh/hamburgers
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

// IanLunn/Hover
@import '~hover.css/scss/hover.scss';

// @fortawesome/fontawesome-free
$fa-font-path: '/node_modules/@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';

// Light Gallery
@import '~lightgallery/src/sass/lg-variables';
@import '~lightgallery/src/sass/lightgallery';

// Magnific Popup
@import "~magnific-popup/src/css/main.scss";

// Animate
$use-fadeIn: true;
$use-fadeInLeft: true;
$use-fadeInDown: true;
@import "~animate-sass/_animate.scss";

// Utilities
@import 'utilities/font-size';
@import 'utilities/line-height';
@import 'utilities/letter-spacing';
@import 'utilities/height-width';
@import 'utilities/max-height-width';
@import 'utilities/min-height-width';
@import 'utilities/object-fit';
@import 'utilities/opacity';
@import 'utilities/placeholder';
@import 'utilities/typography';
@import 'utilities/white-space';


// Vendor
@import 'vendor/bootstrap';

// @import 'vendor/bootstrap';
@import 'vendor/magnific-popup';
@import 'vendor/slick';

// Base
@import 'base/reset';
@import 'base/general';

// Components
@import 'components/header';
@import 'components/button';
@import 'components/h-button';
@import 'components/footer';
@import 'components/hamburger-menu';
@import 'components/vertical-divider';
@import 'components/horizontal-divider';
@import 'components/wrapper';
@import 'components/main-slider';
@import 'components/ribbon';
@import 'components/scroll-icon';
@import 'components/propeller';
@import 'components/gallery';
@import 'components/product';
@import 'components/relative';
@import 'components/mega-menu';
